<?xml version="1.0" ?>
<model>
  <name>electrical</name>
  <version>1.0</version>
  <sdf version="1.6">electrical.sdf</sdf>
  <author>
    <name>Eugene Kravchuk</name>
    <email>jenia.kravchuk223@gmail.com</email>
  </author>
  <description>
    Model of electrical transmission ways
  </description>
</model>
